.container, .scoreBoard{
    display: flex;
    justify-content: space-around;
    min-width: fit-content;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.scoreBoard {
    width: 25%;
    margin: 0 auto;
}

.button, .score {
    background-color: blue;
}

.button {
    margin: 0px 25px;
    width: 100px;
    height: 100px;
}

.score {
    margin: 25px;
    width: 100px;
    height: 100px;
}

.scoreBoard p {
    text-align: center;
    margin: 0px;
    margin-top: 5px;
    color: white;
    font-weight: bold;
}

#player, #computer{
    margin: 0px;
    padding: 5px;
    font-size: 64px;
}

.button p {
    text-align: center;
    font-weight: bold;
    font size: 24px;
    color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}